
.App {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.map-container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('./img/storeMap.png'); /* Path to the store map image */
    background-size: cover;
    background-position: center;
    cursor: grab;
}

.map-container:active {
    cursor: grabbing;
}

.zone {
    position: absolute;
    border: 2px solid #fff;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
